/***********MAIN BANNER*************/
#js_banner-slider {
  transition: background-color 0.6s linear;
  background-color: $ostelife-bg;

}

.slick-slider {
  //overflow-y: hidden;

}

.slick-slider div {
  // For fixing infinite slider jumping issue from last to firs:
  transition: none;
}

// ограничивающая оболочка:
.slick-list {
  //overflow-y: hidden;
}

// лента слайдов:
.slick-track {

}

.slick-arrow {
  position: absolute;
  top: 50%;
  background-color: transparent;
  height: 30px;
}

.slick-slide {
  // For fixing infinite slider jumping issue from last to firs:
  opacity: 0.5;
  transition: opacity 0.3s;
}

.slick-slide.slick-current {
  // For fixing infinite slider jumping issue from last to firs:
  opacity: 1;

  .banner-slider {
    &__slide-ostelife {
    }

    &__slide-keto-light {

    }

    &__slide-cardio-nrj {

    }

    &__slide-varyforte {

    }

    &__slide-choco-lite {

    }
  }
}

.slick-slide.slick-current-clone-animate {
  // For fixing infinite slider jumping issue from last to firs:
  opacity: 1;
}

.banner-slider {
  &__prev {
    left: 16.5%;
    transform: translate(-16.5%, -50%);
    z-index: 100;
  }

  &__next {
    right: 16.5%;
    transform: translate(-16.5%, -50%);
  }

  &__arrow-img {
    height: 100%;
    width: auto;
  }

  &__slide {
    min-height: 596px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  &__slide-bg-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
    color: $lightColor;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__slide-bg-sub {
    position: absolute;
    top: 183px;
    font-size: 120px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $lightColor;
    opacity: 0.35;
  }

  &__slide-bg-subtext {
    transform: translateX(-50%);
  }

  &__slide-bg-subtext-next {
    transform: translateX(50%);
    right: 0;
  }

  &__slide-img1 {
    z-index: 97;
  }

  &__slide-img2 {
    z-index: 98;
  }

  &__slide-img3 {
    z-index: 96;
  }

  &__slide-content {
    max-width: 240px;
    position: absolute;
    top: 252px;
    z-index: 99;
  }

  &__slide-title {
    padding-bottom: 15px;
    font-family: $main-font-family;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
  }

  &__slide-text {
    color: $textColorTransparent;
    font-family: $font-family;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
  }

  &__slide-ostelife {
    .banner-slider {
      &__slide-img1 {
        position: absolute;
        //left: 288px;
        left: 15%;
        top: 111px;
        transform: translateX(-15%);
      }

      &__slide-img2 {
        position: absolute;
        //left: 342px;
        left: 18%;
        top: -23px;
        transform: translateX(-18%);
      }

      &__slide-img3 {
        position: absolute;
        //right: 255px;
        right: 13%;
        top: 79px;
        transform: translateX(-13%);
      }

      &__slide-bg-text {
        font-size: 273.6px;
        line-height: 228px;
        letter-spacing: 11.4px;
        top: 126px;
      }

      &__slide-content {
        left: 51%;
        transform: translateX(-51%);
      }

      &__slide-title {
        color: $ostelife;
      }
    }
  }

  &__slide-keto-light {
    .banner-slider {
      &__slide-img1 {
        position: absolute;
        //left: 364px;
        left: 15%;
        top: 155px;
        transform: translateX(-15%);
      }

      &__slide-img2 {
        position: absolute;
        //left: 515px;
        left: 30%;
        top: 78px;
        transform: translateX(-30%);
      }

      &__slide-img3 {
        position: absolute;
        //right: 35px;
        right: 2%;
        top: -66px;
        transform: translateX(-2%);
      }

      &__slide-bg-text {
        font-size: 180px;
        line-height: 100px;
        letter-spacing: 5px;
        top: 142px;
      }

      &__slide-content {
        //left: 1038px
        left: 54%;
        transform: translateX(-54%);
      }

      &__slide-title {
        color: $keto-light;
      }
    }
  }

  &__slide-cardio-nrj {
    .banner-slider {
      &__slide-img1 {
        position: absolute;
        //left: 327px;
        left: 17%;
        top: 90px;
        transform: translateX(0);
      }

      &__slide-img2 {
        position: absolute;
        //left: 364px;
        left: 19%;
        top: -63px;
        transform: translateX(0);
      }

      &__slide-img3 {
        position: absolute;
        //right: 154px;
        right: 8%;
        top: 46px;
        transform: translateX(0);
      }

      &__slide-bg-text {
        font-size: 200px;
        line-height: 100px;
        letter-spacing: 5px;
        top: 122px;
      }

      &__slide-content {
        //left: 1038px;
        left: 54%;
        transform: translateX(0);
      }

      &__slide-title {
        color: $cardio-nrj;
      }
    }
  }

  &__slide-varyforte {
    .banner-slider {
      &__slide-img1 {
        position: absolute;
        //left: 365px;
        left: 19%;
        top: 104px;
        transform: translateX(0);
      }

      &__slide-img2 {
        position: absolute;
        //left: 332px;
        left: 16.5%;
        top: -35px;
        transform: translateX(0);
      }

      &__slide-img3 {
        position: absolute;
        //right: 207px;
        right: 11%;
        top: 45px;
        transform: translateX(0);
      }

      &__slide-bg-text {
        font-size: 200px;
        line-height: 200px;
        top: 128px;
      }

      &__slide-content {
        //left: 1038px
        left: 54%;
        transform: translateX(0);
      }

      &__slide-title {
        color: $varyforte;
      }
    }
  }

  &__slide-choco-lite {
    .banner-slider {
      &__slide-img1 {
        position: absolute;
        //left: 322px;
        left: 17%;
        top: -44px;
        transform: translateX(0);
      }

      &__slide-img2 {
        position: absolute;
        //left: 319px;
        left: 16.5%;
        top: 19px;
        transform: translateX(0);
      }

      &__slide-img3 {
        position: absolute;
        //right: 191px;
        right: 10%;
        top: 39px;
        transform: translateX(0);
      }

      &__slide-bg-text {
        font-size: 200px;
        line-height: 200px;
        top: 128px;
      }

      &__slide-content {
        //left: 1016px
        left: 53%;
        transform: translateX(0);
      }

      &__slide-title {
        color: $choco-lite;
      }
    }
  }
}


@media screen and (max-width: $xx) {}

// max 1679px
@media screen and (max-width: $xx-slider) {
  .slick-arrow {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $lightColor;
    text-align: center;
  }
  .banner-slider {
    &__arrow-img {
      height: 25px;
      width: auto;
    }

    &__slide {
      .banner-slider {
        &__slide-img1 {
          display: none;
        }
        &__slide-img2 {
          left: 0;
          transform: translateX(-50px);
        }

        &__slide-img3 {
          right: 0;
          transform: translateX(-90px);
        }
      }
    }

    &__slide-keto-light {
      .banner-slider {
        &__slide-img2 {
          left: 6%;
          transform: translateX(-6%);
        }

        &__slide-img3 {
          right: 0;
          transform: translateX(130px);
        }
      }
    }

    &__slide-cardio-nrj {
      .banner-slider {
        &__slide-img2 {
          left: 0;
          transform: translateX(-120px);
        }

        &__slide-img3 {
          right: 0;
          transform: translateX(-20px);
        }
        &__slide-content {
          left: 42%;
        }
      }
    }

    //&__slide-varyforte {
    //  .banner-slider {
    //    &__slide-img2 {
    //      left: 30%;
    //      transform: translateX(-30%);
    //    }
    //
    //    &__slide-img3 {
    //      right: 2%;
    //      transform: translateX(-2%);
    //    }
    //  }
    //}
    //
    //&__slide-choco-lite {
    //  .banner-slider {
    //    &__slide-img2 {
    //      left: 18%;
    //      transform: translateX(-18%);
    //    }
    //
    //    &__slide-img3 {
    //      right: 13%;
    //      transform: translateX(-13%);
    //    }
    //  }
    //}
  }
}

// max 1199px
@media screen and (max-width: $xl) {
  .banner-slider {
    &__prev {
      left: 1.5%;
      transform: translate(-1.5%, -50%);
    }

    &__next {
      right: 1.5%;
      transform: translate(-1.5%, -50%);
    }

    &__slide {
      .banner-slider {
        &__slide-bg-text {
          font-size: 150px;
          top: 200px;
        }

        &__slide-bg-sub {
          font-size: 60px;
          top: 190px;
        }

        &__slide-img2 {
          transform: translateX(-225px);
        }

        &__slide-img3 {
          transform: translateX(60px);
        }
      }
    }

    &__slide-ostelife {
      .banner-slider {
        &__slide-bg-text {
          top: 126px;
        }

        &__slide-bg-sub {
          top: 183px;
        }
      }
    }

    &__slide-keto-light {
      .banner-slider {
        &__slide-img2 {
          left: 0;
          transform: translateX(-85px);
        }

        &__slide-img3 {
          transform: translateX(300px);
        }
      }
    }

    &__slide-cardio-nrj {
      .banner-slider {
        //    &__slide-img2 {
        //      left: 18%;
        //      transform: translateX(-18%);
        //    }
        //
        //    &__slide-img3 {
        //      right: 13%;
        //      transform: translateX(-13%);
        //    }
      }
    }

    &__slide-varyforte {
      .banner-slider {
        &__slide-bg-text {
          top: 126px;
        }

        &__slide-bg-sub {
          top: 183px;
        }
      }

      //    &__slide-img2 {
      //      left: 30%;
      //      transform: translateX(-30%);
      //    }
      //
      //    &__slide-img3 {
      //      right: 2%;
      //      transform: translateX(-2%);
      //    }

    }

    &__slide-choco-lite {
      .banner-slider {
        &__slide-bg-text {
          top: 126px;
        }

        &__slide-bg-sub {
          top: 183px;
        }

        //    &__slide-img2 {
        //      left: 18%;
        //      transform: translateX(-18%);
        //    }
        //
        //    &__slide-img3 {
        //      right: 13%;
        //      transform: translateX(-13%);
        //    }

      }
    }
  }
}

// max 991px
@media screen and (max-width: $lg) {
  .slick-arrow {
    top: initial;
    bottom: 20px;
    height: initial;
    width: initial;
    border-radius: initial;
    background-color: transparent;
  }
  .banner-slider {
    &__arrow-img {
      height: 20px;
    }

    &__prev {
      left: 40%;
      transform: translate(0%, 0%);
    }

    &__next {
      right: 40%;
      transform: translate(0%, 0%);
    }

    &__slide {
      min-height: 522px;

      .banner-slider {

        &__slide-img1 {
          display: block;
          height: 295px;
          width: auto;
          top: 200px;
          right: 0;
          left: initial;
          transform: translateX(86px);
        }

        &__slide-img2 {
          width: 486px;
          height: auto;
          transform: translateX(-41%);
          top: 165px;
        }

        &__slide-img3 {
          display: none;
        }
      }
    }

    &__slide-ostelife {
      .banner-slider {
        //&__slide-bg-text {
        //  top: 126px;
        //}
        //
        //&__slide-bg-sub {
        //  top: 183px;
        //}
      }
    }

    &__slide-keto-light {
      .banner-slider {
        &__slide-img2 {
          width: 397px;
          transform: translateX(-130px);
        }

        &__slide-img1 {
          height: 248px;
          transform: translateX(45px);
        }
      }
    }

    &__slide-cardio-nrj {
      .banner-slider {
        &__slide-img2 {
          width: 490px;
          transform: translateX(-174px);
          top: 92px;
        }

        &__slide-img1 {
          height: 248px;
          transform: translateX(105px);
        }
      }
    }

    &__slide-varyforte {
      .banner-slider {
        &__slide-img2 {
          //width: 397px;
          //transform: translateX(-130px);
        }

        &__slide-img1 {
          height: 248px;
          transform: translateX(45px);
        }
      }
    }

    &__slide-choco-lite {
      .banner-slider {
        &__slide-img2 {
          //width: 397px;
          //transform: translateX(-130px);
        }

        &__slide-img1 {
          height: 248px;
          transform: translateX(45px);
        }
      }
    }
  }
}

// max 575px
@media screen and (max-width: $xs) {
  .banner-slider {
    &__slide {
      .banner-slider {
        &__slide-bg-text {
          top: initial;
          bottom: 144px;
          font-size: 120px;
          line-height: 100px;
          letter-spacing: 5px;
        }

        &__slide-bg-sub {
          display: none;
        }

        &__slide-content {
          max-width: 100%;
          position: static;
          transform: translateX(0%);
          padding: 76px 15px 0 15px;
        }

        &__slide-title {
          padding-bottom: 5px;
        }

        &__slide-text {
          line-height: 24px;
        }
      }
    }
  }
}

/***********MAIN BANNER END*************/
//$xl: 1199px
//$container-xl: 1140px
//$lg: 991px
//$md: 767px
//$xs: 575px
//$xxs: 360px