/***********MAIN BANNER*************/
#js_banner-slider {
  transition: background-color .8s linear;
  background-color: $ostelife-bg;
}

.slick-slider {

}

.slick-slider div {
  // For fixing infinite slider jumping issue from last to firs:
  transition: opacity 0s ease 0s;
}

// ограничивающая оболочка:
.slick-list {
}

// лента слайдов:
.slick-track {

}

.slick-arrow {
  position: absolute;
  top: 50%;
  background-color: transparent;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  .svg {
    fill: $lightColor1;
  }
}

.slick-slide {
  // For fixing infinite slider jumping issue from last to firs:
  //opacity: 0.3;
  //transition: opacity 0.5s;
}

.slick-slide.slick-current {
  // For fixing infinite slider jumping issue from last to firs:
  //opacity: 1;
}

.slick-slide.slick-current-clone-animate {
  // For fixing infinite slider jumping issue from last to firs:
  //opacity: 1;
}

.banner-slider {
  &__prev {
    left: 16.5%;
    transform: translate(-16.5%, -50%);
    z-index: 100;
  }

  &__next {
    right: 16.5%;
    transform: translate(-16.5%, -50%);
  }

  &__arrow-img {
    height: 100%;
    width: auto;
  }

  &__slide {
    min-height: 596px;
    //background-color: green;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  &__slide-bg-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
    color: $lightColor;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__slide-bg-sub {
    position: absolute;
    top: 183px;
    font-size: 120px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $lightColor;
    opacity: 0.35;
  }

  &__slide-bg-subtext {
    transform: translateX(-50%);
  }

  &__slide-bg-subtext-next {
    transform: translateX(50%);
    right: 0;
  }

  &__slide-img1 {
    z-index: 97;
  }

  &__slide-img2 {
    z-index: 98;
  }

  &__slide-img3 {
    z-index: 96;
  }

  &__slide-content {
    max-width: 240px;
    position: absolute;
    top: 252px;
    z-index: 99;
  }

  &__slide-title {
    padding-bottom: 15px;
    font-family: $main-font-family;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
  }

  &__slide-text {
    color: $textColorTransparent;
    font-family: $font-family;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
  }

  &__slide-ostelife {
    .banner-slider {
      &__slide-img1 {
        position: absolute;
        left: 15%;
        top: 111px;
      }

      &__slide-img2 {
        position: absolute;
        left: 17%;
        top: -23px;
      }

      &__slide-img3 {
        position: absolute;
        right: 13%;
        top: 79px;
      }

      &__slide-bg-text {
        font-size: 273.6px;
        line-height: 228px;
        letter-spacing: 11.4px;
        top: 126px;
      }

      &__slide-content {
        left: 51%;
      }

      &__slide-title {
        color: $ostelife;
      }
    }
  }

  &__slide-keto-light {
    .banner-slider {
      &__slide-img1 {
        position: absolute;
        left: 19%;
        top: 155px;
      }

      &__slide-img2 {
        position: absolute;
        left: 27%;
        top: 50px;
      }

      &__slide-img3 {
        position: absolute;
        right: 1%;
        top: 21px;
      }

      &__slide-bg-text {
        font-size: 180px;
        line-height: 100px;
        letter-spacing: 5px;
        top: 142px;
      }

      &__slide-content {
        left: 54%;
      }

      &__slide-title {
        color: $keto-light;
      }
    }
  }

  &__slide-cardio-nrj {
    .banner-slider {
      &__slide-img1 {
        position: absolute;
        left: 17%;
        top: 90px;
      }

      &__slide-img2 {
        position: absolute;
        left: 19%;
        top: -63px;
      }

      &__slide-img3 {
        position: absolute;
        right: 8%;
        top: 46px;
      }

      &__slide-bg-text {
        font-size: 200px;
        line-height: 100px;
        letter-spacing: 5px;
        top: 122px;
      }

      &__slide-content {
        left: 54%;
      }

      &__slide-title {
        color: $cardio-nrj;
      }
    }
  }

  &__slide-varyforte {
    .banner-slider {
      &__slide-img1 {
        position: absolute;
        left: 15%;
        top: 104px;
      }

      &__slide-img2 {
        position: absolute;
        left: 13%;
        top: -35px;
      }

      &__slide-img3 {
        position: absolute;
        right: 14%;
        top: 45px;
      }

      &__slide-bg-text {
        font-size: 200px;
        line-height: 200px;
        top: 128px;
      }

      &__slide-content {
        left: 50%;
        transform: translateX(0);
      }

      &__slide-title {
        color: $varyforte;
      }
    }
  }

  &__slide-choco-lite {
    .banner-slider {
      &__slide-img1 {
        position: absolute;
        left: 13%;
        top: -44px;
      }

      &__slide-img2 {
        position: absolute;
        left: 13%;
        top: 19px;
      }

      &__slide-img3 {
        position: absolute;
        right: 13%;
        top: 39px;
      }

      &__slide-bg-text {
        font-size: 200px;
        line-height: 200px;
        top: 128px;
      }

      &__slide-content {
        left: 50%;
        transform: translateX(0);
      }

      &__slide-title {
        color: $choco-lite;
      }
    }
  }
}

// max 1899px
@media screen and (max-width: $xx-slider) {
  .slick-arrow {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $lightColor;
    transition: .3s;

    &:hover {
      background-color: $mainHover;

      .svg {
        fill: $lightColor;
      }
    }
  }
  .banner-slider {
    &__prev {
      left: calc(50% - 600px);
      transform: translate(50px, -50%);
    }

    &__next {
      right: calc(50% - 600px);
      transform: translate(-50px, -50%);
    }
    &__arrow-img {
      height: 25px;
      width: auto;
      display: inline-block;
    }

    &__slide {
      .banner-slider {
        &__slide-img1 {
          display: none;
        }
        &__slide-content {
          left: 40%;
        }
      }
    }

    &__slide-ostelife {
      .banner-slider {
        &__slide-img2 {
          left: -135px;
          //left: 0;
          //transform: translateX(-135px);
        }

        &__slide-img3 {
          right: 0;
          //transform: translateX(-90px);
        }
      }
    }

    &__slide-keto-light {
      .banner-slider {
        &__slide-img2 {
          left: 1%;
        }

        &__slide-img3 {
          right: -130px;
        }

        &__slide-content {
          left: 43%;
        }
      }
    }

    &__slide-cardio-nrj {
      .banner-slider {
        &__slide-img2 {
          left: -120px;
        }

        &__slide-img3 {
          right: 0;
          //transform: translateX(0);
        }

        &__slide-content {
          left: 43%;
        }
      }
    }

    &__slide-varyforte {
      .banner-slider {
        &__slide-img2 {
          left: -12.5%;
        }

        &__slide-img3 {
          right: 0;
        }

        &__slide-content {
          left: 43%;
        }
      }
    }

    &__slide-choco-lite {
      .banner-slider {
        &__slide-img2 {
          left: -185px;
        }

        &__slide-img3 {
          right: 0;
          //transform: translateX(0);
        }
      }
    }
  }
}

// max 1199px
@media screen and (max-width: $xl) {
  .banner-slider {
    &__prev {
      left: 1.5%;
      transform: translate(-1.5%, -50%);
    }

    &__next {
      right: 1.5%;
      transform: translate(-1.5%, -50%);
    }

    &__slide {
      .banner-slider {
        &__slide-bg-text {
          font-size: 150px;
          top: 200px;
        }

        &__slide-bg-sub {
          font-size: 60px;
          top: 190px;
        }
      }
    }

    &__slide-ostelife {
      .banner-slider {
        &__slide-bg-text {
          top: 126px;
        }
        &__slide-bg-sub {
          top: 183px;
        }
        &__slide-img2 {
          left: -215px;
          //transform: translateX(-360px);
        }
        &__slide-img3 {
          right: -35px;
          //transform: translateX(90px);
        }
      }
    }

    &__slide-keto-light {
      .banner-slider {
        &__slide-img2 {
          left: -85px;
          //transform: translateX(-85px);
        }

        &__slide-img3 {
          right: -300px;
          //transform: translateX(300px);
        }
      }
    }

    &__slide-cardio-nrj {
      .banner-slider {
        &__slide-img2 {
          left: -140px;
          //transform: translateX(-225px);
        }

        &__slide-img3 {
          right: -200px;
          //transform: translateX(160px);
        }
        &__slide-content {
          left: 50%;
        }
      }
    }

    &__slide-varyforte {
      .banner-slider {
        &__slide-bg-text {
          top: 126px;
        }

        &__slide-bg-sub {
          top: 183px;
        }

        &__slide-content {
          left: 50%;
        }

        &__slide-img2 {
          left: -260px;
          //transform: translateX(-265px);
        }

        &__slide-img3 {
          right: -220px;
          //transform: translateX(220px);
        }
      }
    }

    &__slide-choco-lite {
      .banner-slider {
        &__slide-bg-text {
          top: 126px;
        }

        &__slide-bg-sub {
          top: 183px;
        }

        &__slide-img2 {
          left: -255px;
          //transform: translateX(-255px);
        }

        &__slide-img3 {
          right: -200px;
          //transform: translateX(200px);
        }

        &__slide-content {
          left: 45%;
        }
      }
    }
  }
}

// max 991px
@media screen and (max-width: $lg) {
  .slick-arrow {
    top: initial;
    bottom: 20px;
    height: 40px;
    width: 40px;
  }

  .banner-slider {
    &__arrow-img {
      height: 20px;
    }

    &__prev {
      left: 32%;
      transform: translate(0%, 0%);
    }

    &__next {
      right: 32%;
      transform: translate(0%, 0%);
    }

    &__slide {
      min-height: 522px;
      .banner-slider {
        &__slide-img3 {
          display: none;
        }
      }
    }

    &__slide-ostelife {
      .banner-slider {
        &__slide-img1 {
          display: block;
          height: 295px;
          width: auto;
          top: 200px;
          right: -80px;
          left: initial;
          //transform: translateX(86px);
        }
        &__slide-img2 {
          //width: 397px;
          left: -363px;
          //transform: translateX(-130px);
          //height: auto;
          //top: 165px;
        }
      }
    }

    &__slide-keto-light {
      .banner-slider {
        &__slide-img2 {
          width: 397px;
          left: -130px;
          //transform: translateX(-130px);
          height: auto;
          top: 165px;
        }

        &__slide-img1 {
          height: 248px;
          //transform: translateX(45px);
          display: block;
          width: auto;
          top: 200px;
          right: -35px;
          left: initial;
        }

        &__slide-content {
          left: 35%;
        }
      }
    }

    &__slide-cardio-nrj {
      .banner-slider {
        &__slide-img2 {
          left: -375px;
          //transform: translateX(-375px);
          top: -100px;
        }

        &__slide-img1 {
          display: block;
          width: auto;
          top: 200px;
          right: -90px;
          left: initial;
          height: 248px;
          //transform: translateX(90px);
        }
        &__slide-content {
          left: 43%;
        }
      }
    }

    &__slide-varyforte {
      .banner-slider {
        &__slide-content {
          left: 35%;
        }

        &__slide-img1 {
          height: 248px;
          //transform: translateX(45px);
          display: block;
          width: auto;
          top: 200px;
          right: -40px;
          left: initial;
        }

        &__slide-img2 {
          //left: 0;
          left: -480px;
          //transform: translateX(-480px);
        }
      }
    }

    &__slide-choco-lite {
      .banner-slider {
        &__slide-img2 {
          //left: 0;
          left: -415px;
          //transform: translateX(-415px);
        }

        &__slide-img1 {
          height: 248px;
          //left: -45px;
          //transform: translateX(45px);
          display: block;
          width: auto;
          top: 200px;
          right: -45px;
          left: initial;
        }

        &__slide-content {
          left: 40%;
        }
      }
    }
  }
}

// max 575px
@media screen and (max-width: $xs) {
  .banner-slider {
    &__slide {
      .banner-slider {
        &__slide-bg-text {
          top: initial;
          bottom: 144px;
          font-size: 120px;
          line-height: 100px;
          letter-spacing: 5px;
        }

        &__slide-bg-sub {
          display: none;
        }

        &__slide-content {
          max-width: 100%;
          position: static;
          transform: translateX(0%);
          padding: 76px 15px 0 15px;
        }

        &__slide-title {
          padding-bottom: 5px;
        }

        &__slide-text {
          line-height: 24px;
        }
      }
    }

    &__slide-ostelife {
      .banner-slider__slide-img2 {
        width: 486px;
        height: auto;
        left: -200px;
        //transform: translateX(-41%);
        top: 165px;
      }
    }

    &__slide-cardio-nrj {
      .banner-slider {
        &__slide-img2 {
          height: auto;
          width: 490px;
          left: -205px;
          //transform: translateX(-205px);
          top: 92px;
        }
      }
    }

    &__slide-varyforte {
      .banner-slider__slide-img2 {
        width: 486px;
        height: auto;
        left: -190px;
        //transform: translateX(-41%);
        top: 165px;
      }
    }

    &__slide-choco-lite {
      .banner-slider__slide-img1 {
        left: auto;
        right: -8%;
        //transform: translateX(30px);
      }

      .banner-slider__slide-img2 {
        width: 486px;
        height: auto;
        left: -150px;
        //transform: translateX(-34%);
        top: 165px;
      }
    }
  }
}
.slick-slide {
  // For fixing infinite slider jumping issue from last to firs:
  //opacity: 0.3;
  //transition: opacity 0.5s;
}

.slick-slide.slick-current {
  // For fixing infinite slider jumping issue from last to firs:
  opacity: 1;
}

// For fixing infinite slider jumping issue from last to firs:
//.slick-slide.slick-current-clone-animate {
//  opacity: 1;
//}
/***********MAIN BANNER END*************/