/*********** 404 *************/
.no-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &__block {
    padding-top: 243px;
    position: relative;
  }

  &__content-block {
    max-width: 460px;
  }

  &__title {
    font-size: 42px;
    line-height: 50px;
    color: $textColor;
    margin-bottom: 50px;
  }

  &__text {
    font-family: $font-family;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    color: $textColor;
    opacity: 0.8;
    margin-bottom: 40px;
  }

  &__link {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__btn {
    background-color: $lightColor2;
    color: $mainHover;
    margin-bottom: 50px;
    transition: .3s;

    &:hover, &:focus {
      color: $lightColor;
    }

    &:active, &:focus-visible {
      background-color: $bg-active1;
      color: $mainHover;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    top: 159px;
    object-fit: cover;
  }

  .popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $lightColor;
    opacity: 0.9;
    align-items: center;
    z-index: $popupWrapper;

    &.active {
      display: flex;
    }

    &__content-block {
      position: relative;
      max-width: 730px;
      width: 100%;
      margin: 0 auto;
      background: $lightColor;
      box-shadow: 0 15px 123px -40px rgba(0, 0, 0, 0.2);
      z-index: $popupContent;
      padding: 90px 70px 0 70px;
      display: flex;
      justify-content: space-between;
    }

    &__close-btn {
      position: absolute;
      width: 14px;
      height: 14px;
      top: 30px;
      right: 30px;
      cursor: pointer;
    }

    &__close-btn-line {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;
      position: absolute;
      height: 2px;
      width: 100%;
    }

    &__close-btn-line::after, &__close-btn-line::before {
      content: '';
      top: 0;
      position: absolute;
      height: 2px;
      background-color: $lightColor3;
      border-radius: 5px;
      width: 100%;
    }

    &__close-btn-line::after {
      transform: rotate(-45deg);
    }

    &__close-btn-line::before {
      transform: rotate(45deg);
    }

    &__content {
      max-width: 326px;
    }

    &__title {
      font-size: 42px;
      line-height: 50px;
      color: $textColor;
      margin-bottom: 40px;
    }

    &__text {
      margin-bottom: 30px;
      font-family: $font-family;
      font-weight: 300;
      font-size: 20px;
      line-height: 35px;
      color: $textColor;
      opacity: 0.8;
    }

    &__link-text {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      display: inline-block;
      margin-right: 12px;
    }

    &__link-img {
      display: inline-block;

      &.link-arrow {
        .svg {
          fill: $mainHover;
        }
      }
    }

    &__link {
      color: $mainHover;
      margin-bottom: 90px;
      vertical-align: middle;
      display: inline-flex;
      align-items: center;
      transition: color .3s ease 0s;

      &:visited {
        color: $mainHover;

        .svg {
          fill: $mainHover;
        }
      }

      &:hover {
        color: $bg-hover;

        .link-arrow {
          margin-left: 13px;

          .svg {
            fill: $bg-hover;
          }
        }
      }

      &:active {
        color: $bg-active;

        .link-arrow {
          margin-left: 13px;

          .svg {
            fill: $bg-active;
          }
        }
      }
    }

    &__img {
      display: inline-block;
      width: 209px;
      height: auto;
      object-fit: contain;
    }
  }
}

//$xl: 1199.9px
@media screen and (max-width: $xl) {
  .no-page {
    .container {
      padding: 0 30px;
    }

    &__block {
      overflow-x: hidden;
    }

    &__content-block {
      max-width: 420px;
    }

    &__img {
      right: -70px;
    }
  }
}

//$lg: 991.9px
@media screen and (max-width: $lg) {
  .no-page {
    display: block;
    padding-top: 20px;

    &__block {
      padding-top: 0;
      overflow: visible;
    }

    &__content-block {
      padding-top: 548px;
    }

    &__img {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: 548px;
    }

    .popup {
      align-items: flex-start;
      padding: 120px 30px 0 30px;
    }
  }
}

//$md: 767.9px
@media screen and (max-width: $md) {
  .no-page {
    padding-top: 40px;

    &__content-block {
      padding-top: 399px;
    }

    &__title {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 40px;
    }

    &__text {
      font-size: 18px;
      line-height: 30px;
    }

    &__img {
      height: 399px;
    }

    .popup {
      &__content-block {
        padding: 90px 30px 0 30px;
      }

      &__title {
        font-size: 35px;
        line-height: 40px;
      }

      &__text {
        font-size: 18px;
        line-height: 30px;
        padding-right: 15px;
      }

      &__link-text {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}

//$xs: 575.9px
@media screen and (max-width: $xs) {
  .no-page {
    display: flex;
    padding-top: 100px;

    &__content-block {
      padding-top: 0;
    }

    &__img {
      display: none;
    }

    .popup {
       padding: 100px 15px 0 15px;

      &__content-block {
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
      }

      &__content {
        order: 2;
        max-width: none;
      }

      &__img {
        margin: 0 auto 40px auto;
        order: 1;
        width: 100px;
      }

      &__text {
        margin-bottom: 20px;
        padding-right: 0;
      }

      &__link {
        margin-bottom: 50px;
      }
    }
  }
}

//$xxs: 359.9px
@media screen and (max-width: $xxs) {
  .no-page {
    .container {
      padding: 0 15px;
    }

    &__link {
      width: 100%;
    }

    &__btn {
      width: 100%;
    }

    .popup {
      &__content-block {
        padding: 30px 15px 0 15px;
      }

      &__title {
        margin-bottom: 30px;
      }

      &__link {
        margin-bottom: 30px;
      }

      &__img {
        display: none;
      }
    }
  }
}

/*********** 404 END *************/
