- const bannerSlider = LANG.banner_slider;

main
    section.banner-slider
        #js_banner-slider
            each val in bannerSlider
                .banner-slide
                    h3= val.slide_title