$mainColor: #8BC34A
$textColor: #231F20
$lightColor: #fff
$main-font-family: "Jost", sans-serif
$font-family: 'Roboto', sans-serif
$ostelife: #F0802F
$ostelife-bg: rgba(255, 216, 198, 0.42)
$keto-light: #29C8DE
$keto-light-bg: rgba(197, 221, 235, 0.54)
$cardio-nrj: #299DDE
$cardio-nrj-bg: rgba(148, 204, 255, 0.35)
$varyforte: #D854A3
$varyforte-bg: rgba(235, 197, 220, 0.4)
$choco-lite: #A56317
$choco-lite-bg: rgba(201, 93, 15, 0.3)