extends templates/layout.pug

block nav
    - const page = "products"
    include ./templates/nav.pug
block main
    include ./templates/main_products.pug
block footer
    include ./templates/footer.pug
